body{
	background: url(Senku.png);
	background-size: cover;
}

#Current{
	font-family: Comic Sans MS;
	font-size: 17px;
	font-weight: bold;
	color: goldenrod;
}
.ChangePassForm{
	text-align:center;
	padding: 50px 0;
	padding-top: 10px;
	margin-top: 10px;
	margin-left: 10px;
	width: 400px;
	height: 230px;
}

#FieldTitle{
	font-weight: bold;
	font-size: 30px;
	font-family: Papyrus;
	color: darkkhaki;
}

#passwordnew{
	border-radius: 15px;
	height: 30px;
	color: darkviolet;
	font-weight: bold;
	background-color: #FAEBD7;
}

#passwordnewC{
	border-radius: 15px;
	height: 30px;
	color: darkviolet;
	font-weight: bold;
	background-color: #FAEBD7;
}

#Change{
	font-family: Comic Sans MS;
	font-weight: bold;
	font-size: 17px;
	cursor: pointer;
	width: 110px; 
	border-radius: 25px;
	height: 40px;
	text-align: center;
	padding: 3px;
	background-color: #FFE4E1;
	color: #708090;
	opacity: 0.7;
}
#Change:hover{
	opacity: 1;
}

#Change:active{
	transform: translateY(4px);
}